@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Zen+Maru+Gothic:wght@300&display=swap');

:root {
    --Background: #282A36;
    --Foreground: #F8F8F2;
    --Selection: #44475A;
    --Comment: #6272A4;
    --Red: #FF5555;
    --Orange: #FFB86C;
    --Yellow: #F1FA8C;
    --Green: #50FA7B;
    --Purple: #BD93F9;
    --Cyan: #8BE9FD;
    --Pink: #FF79C6;
    --AnsiBlack: #21222C;
    --AnsiRed: #FF5555;
    --AnsiGreen: #50FA7B;
    --AnsiYellow: #F1FA8C;
    --AnsiBlue: #BD93F9;
    --AnsiMagenta: #FF79C6;
    --AnsiCyan: #8BE9FD;
    --AnsiWhite: #F8F8F2;
    --AnsiBrightBlack: #6272A4;
    --AnsiBrightRed: #FF6E6E;
    --AnsiBrightGreen: #69FF94;
    --AnsiBrightYellow: #FFFFA5;
    --AnsiBrightBlue: #D6ACFF;
    --AnsiBrightMagenta: #FF92DF;
    --AnsiBrightCyan: #A4FFFF;
    --AnsiBrightWhite: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--Background);
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Zen Maru Gothic', sans-serif;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

textarea::placeholder, input::placeholder, select::placeholder {
  color: var(--AnsiBrightWhite);
}

#home-banner {
  background: url(../images/banners/bg-1.jpg) fixed no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  top: 0;
}

#scrollNav {
  display: inline-block;
  background-color: var(--Selection);
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  margin-bottom: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--AnsiBrightWhite);
  text-decoration: none;
}

@media (max-width: 990px) {
  #scrollNav {
    margin-bottom: 240px;
  }
}


#scrollNav:hover {
  cursor: pointer;
  background-color: #333;
}
#scrollNav:active {
  background-color: #555;
}
#scrollNav.show {
  opacity: 1;
  visibility: visible;
}

.article {
  height: 70px;
  width: 70px;
  background-color: #6272A4;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

.btn-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.btn-login a {
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--AnsiBrightWhite);
  margin: 5px 15px 15px 15px;
}

.btn-primary {
  background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8));
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}

.btn-primary-circle {
  background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8));
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
  display:block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.btn-success {
  background: #8dc63f;
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}

.button-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 5px;
  background-color: var(--Selection);
  margin-bottom: 20px;
  padding: 5px 0px 5px 0px;
  color: var(--AnsiBrightWhite);
}

.card input {
  border-radius: 20px;
  color: var(--AnsiBrightWhite);
}

.card hr {
  border-bottom: 0.5px solid var(--Background);
}

.card-img {
  width: 100%;
  height: auto;
  max-height: 70vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .container {
  flex-wrap: wrap;
  box-sizing: border-box;
}

.comentarios {
  background-color: var(--Selection);
  height: 30px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  margin-top: 70px;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "user new-pub follow-user"
    "information post follow-user"
    "chat post follow-user"
    "... post ..."
    "footer footer footer";
  grid-template-columns: calc(27.5% - 0.5rem) calc(45% - 1rem) calc(27.5% - 0.5rem);
  grid-template-rows: auto auto auto auto auto;
}

@media (max-width: 1125px) {
  .content {
    grid-template-areas: 
      "user new-pub"
      "information post"
      "chat post"
      "follow-user post"
      "... post"
      "footer footer";
    grid-template-columns: calc(30% - 1rem) 70%;
    grid-template-rows: auto auto auto auto auto;
  }
}

@media (max-width: 990px) {
  .content {
    grid-template-areas: 
      "user"
      "information"
      "chat"
      "new-pub"
      "post"
      "follow-user"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
}

.content-login {
  display: grid;
  grid-template-areas: 
    "login"
    "article-login"
    "footer";
  grid-template-columns: 100vw;
  grid-template-rows: 550px auto auto;
}

.follow {
  margin: 10px 0px 10px 0px;
}

.follow a {
  text-decoration: none;
  color: #8dc63f;
}

.follow h4 {
  margin-top: 5px;
  margin-bottom: 7px;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid var(--Selection);
}

.d-flex {
  display: flex;
  align-items: center;
}

.user {
  grid-area: user;
  padding: 5px 0px 5px 0px;
  background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8));
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 7px;
}

.user h3 {
  color: var(--AnsiBrightWhite);
}

.users-chat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.users-chat ul {
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.users-chat ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 5px 5px 5px;
}

.users-chat li {
  position: relative;
}

.user:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid var(--Background);
  margin-top: -50px;
}

.user-image-pub {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-image-follow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 13px;
}

.user-image-chat {
  width: 70px;
  height: 65px;
  border-radius: 50%;
  margin-right: 13px;
  margin: 5px;
}

.user-image-post {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 13px;
}

.new-pub {
  grid-area: new-pub;
  padding: 5px 0px 5px 0px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: var(--Selection);
  border-radius: 7px;
}

.new-pub i {
  color: var(--AnsiBrightWhite);
}

.follow-user {
  grid-area: follow-user;
  padding: 5px 0px 5px 0px;
  display: block;
  justify-content: end;
  color: var(--AnsiBrightWhite);
  position: sticky;
  top: 0;
  height: 100vh;
}

@media (max-width: 990px) {
  .follow-user {
    position: inherit;
    height: auto;
  }
}

.follow-user h1 {
  font-size: 27px;
  margin-top: 0px;
}

.follow-user hr {
  margin-left: 80px;
}

.information {
  grid-area: information;
  padding: 5px 0px 5px 0px;
}

.information .feed {
  color: #8dc63f;
}

.information .friends {
  color: #662d91;
}

.information .profile {
  color: #ee2a7b;
}

.information .messages {
  color: #f7941e;
}

.information .videos {
  color: #1c75bc;
}

.information .images {
  color: #9e1f63;
}

.information h3 {
  margin-left: 15px;
  color: var(--AnsiBrightWhite);
  font-size: 16px;
}

.information hr {
  margin-left: 30px;
}

.information i, .information h3 {
  cursor: pointer;
}

.info-language {
  margin: 5px 0px 5px 0px;
}

.info-pub {
  margin: 2px 0px 2px 0px;
}

.info-pub h5 {
  margin: 2px 0px 2px 0px;
}

.info-pub i {
  margin-left: 7px;
  font-size: 14px;
}

.interactions {
  display: flex;
}

@media (max-width: 390px) {
  .interactions {
    flex-direction: column;
    justify-content: start;
    margin-top: 5px;
  }
}

.interactions i {
  font-size: 18px;
}

.interactions .like {
  color: #1096f4;
}

.interactions .heart {
  color: #f54a67;
}

.interactions-info {
  margin: 5px 5px 5px 10px;
}

@media (max-width: 390px) {
  .interactions-info {
    margin: 5px 5px 5px 0px;
  }
}

.interactions-options {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 360px) {
  .interactions-options {
    flex-direction: column;
    align-items: start;
  }
}

.interactions-options a {
  text-decoration: none;
  color: var(--AnsiBrightWhite);
  padding: 5px 15px 5px 15px;
  width: 33.33%;
  margin: 0px 5px;
  text-align: center;
}

@media (max-width: 360px) {
  .interactions-options a {
    text-align: start;
    padding: 5px 0px 5px 15px;
    width: auto;
  }
}

.interactions-options a:hover {
  background-color: var(--Background);
  border-radius: 7px;
}

.interactions-options i {
  margin-right: 8px;
}

.post {
  grid-area: post;
  padding: 0px 0px 5px 0px;
}

.chat {
  grid-area: chat;
  padding: 5px 0px 5px 0px;
  position: sticky;
  top: 0;
  height: 100vh;
}

@media (max-width: 1125px) {
  .chat {
    position: inherit;
    height: auto;
  }
}

.footer {
  grid-area: footer;
  background-color: var(--Selection);
  padding: 5px 0px 5px 0px;
  color: var(--AnsiBrightWhite);
  padding: 0px 0px 20px 0px;
}

.article-login {
  grid-area: article-login;
  display: flex;
  position: relative;
}

.article-login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.article-login-content h1 {
  font-size: 95px;
  color: var(--AnsiBrightWhite);
  letter-spacing: 1rem;
  margin: auto;
}

.login {
  grid-area: login;
  display: flex;
  justify-content: start;
}

.login-menu {
  width: 350px;
  background: linear-gradient(to bottom, rgba(39,170,225,.9), rgba(28,117,188,.9));
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  top: 0;
  padding: 15px;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .login-menu {
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
  }
}

@media (max-width: 768px) {
  .login-menu {
      left: 0;
      right: 0;
      margin: auto;
  }
}

.login-menu::after {
  content: "";
  border-color: rgba(28,117,188,.9) transparent transparent;
  border-style: solid;
  border-width: 40px 175px 0;
  bottom: -40px;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  display: flex;
}

.footer h3 {
  font-size: 25px;
}

.footer hr {
  border-bottom: 0.5px solid var(--Background);
} 

.footer-info {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-content {
  display: flex;
}

@media (max-width: 990px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-info {
    justify-content: start;
  }

  .footer-info p {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}



.up {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.up a {
  text-decoration: none;
}

.up i {
  
  font-size: 40px;
  float: right;
}

.form-control {
  display: block;
  height: auto;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  background: #3a3b3c;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-radius: 4px;
  color: #939598;
  width: 100% !important;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
} 

.form-group input {
  border-radius: 20px;
  color: var(--AnsiBrightWhite);
}

.form-group label {
  margin-left: 10px;
  color: var(--AnsiBrightWhite);
}

.icon {
    height: 60px;
    width: 60px;
}  

.menu {
    display: flex;
    justify-content: right;
    list-style: none;
}

.menu li {
    margin: 5px;
    padding: 7px;
    font-size: 19px;
}

.menu li:hover {
    cursor: pointer;
    color: var(--Purple);
}

.navbar {
  background-color: var(--Selection);
  height: 70px;
  width: 100%;
  color: var(--AnsiBrightWhite);
}

.nav-menu {
    width: 100%;
}

@media (max-width: 1125px) {
  .nav-menu {
    display: none;
  }
}

.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navbar .container h3 {
    margin-left: 5px;
    font-size: 35px;
}

.pub-header {
  margin-top: 10px;
}

.status-chat {
  background: linear-gradient(to bottom, rgba(141,198,63, 1), rgba(0,148,68, 1));
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  border: 2px solid #fff;
  left: 0;
  right: 0;
  margin: auto;
}

.title-login {
  text-align: center;
  margin-top: 60px;
}

.title-login h3 {
  color: var(--AnsiBrightWhite);
  font-size: 35px;
  margin: 5px 0px 5px 0px;
}

.login-inputs {
  grid-area: user;
  padding: 5px 0px 5px 0px;
  background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8));
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 20px;
}

.header-login {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header-login h3 {
  color: var(--AnsiBrightWhite);
  font-size: 35px;
  margin: 5px 0px 5px 0px;
}

.tools {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px;
}

.tools a {
  color: inherit;
}

.tools li {
  padding: 4px;
}

.user-information {
  margin: 5px 0px 5px 20px;
}

.user-information h3 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.user-new-pub {
  margin: 5px 0px 5px 0px;
  width: 100%;
}

.user-name-pub {
  margin: 2px 0px 0px 0px;
}

.user-new-pub input{
  border-radius: 20px;
  color: var(--AnsiBrightWhite);
}

.j-end {
  justify-content: end;
}


