
:root {
    --Background: #282A36;
    --Foreground: #F8F8F2;
    --Selection: #44475A;
    --Comment: #6272A4;
    --Red: #FF5555;
    --Orange: #FFB86C;
    --Yellow: #F1FA8C;
    --Green: #50FA7B;
    --Purple: #BD93F9;
    --Cyan: #8BE9FD;
    --Pink: #FF79C6;
    --AnsiBlack: #21222C;
    --AnsiRed: #FF5555;
    --AnsiGreen: #50FA7B;
    --AnsiYellow: #F1FA8C;
    --AnsiBlue: #BD93F9;
    --AnsiMagenta: #FF79C6;
    --AnsiCyan: #8BE9FD;
    --AnsiWhite: #F8F8F2;
    --AnsiBrightBlack: #6272A4;
    --AnsiBrightRed: #FF6E6E;
    --AnsiBrightGreen: #69FF94;
    --AnsiBrightYellow: #FFFFA5;
    --AnsiBrightBlue: #D6ACFF;
    --AnsiBrightMagenta: #FF92DF;
    --AnsiBrightCyan: #A4FFFF;
    --AnsiBrightWhite: #FFFFFF;
}

.aside {
  height: 70px;
  width: 70px;
  background-color: #50FA7B;
}

.article {
  height: 70px;
  width: 70px;
  background-color: #6272A4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
}

.card {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 5px;
  background-color: var(--Foreground);
}

.card img {
  width: 100%;
  height: auto;
  max-height: 70vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .container {
  flex-wrap: wrap;
  box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  margin-top: 70px;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "user new-pub news"
    "information post news"
    "chat post news"
    "footer footer footer";
  grid-template-columns: 27,5% 45% 27,5%;
  grid-template-rows: 10vh 40vh 30vh auto;
}

@media (max-width: 1125px) {
  .content {
    grid-template-areas: 
      "user new-pub"
      "information post"
      "chat news"
      "footer footer";
    grid-template-columns: calc(30% - 1rem) 70%;
    grid-template-rows: 10vh 40vh 30vh auto;
  }
}

@media (max-width: 990px) {
  .content {
    grid-template-areas: 
      "user"
      "information"
      "new-pub"
      "news"
      "post"
      "chat"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 10vh 40vh 30vh auto auto auto auto;
  }
}

.user {
  grid-area: user;
  background-color: #6272A4;
}

.new-pub {
  grid-area: new-pub;
  background-color: #69FF94;
}

.news {
  grid-area: news;
  background-color: #A4FFFF;
}

.information {
  grid-area: information;
  background-color: #F1FA8C;
}

.post {
  grid-area: post;
  background-color: #FF6E6E;
}

.chat {
  grid-area: chat;
  background-color: aqua;
}

.footer {
  grid-area: footer;
  background-color: brown;
}

.icon {
    height: 60px;
    width: 60px;
}  

.menu {
    display: flex;
    justify-content: right;
    list-style: none;
}

.menu li {
    margin: 5px;
    padding: 7px;
    font-size: 19px;
}

.menu li:hover {
    cursor: pointer;
    color: var(--Purple);
}

.navbar {
  background-color: var(--Selection);
  height: 70px;
  width: 100%;

}

.nav-menu {
    width: 100%;
}

@media (max-width: 1125px) {
  .nav-menu {
    display: none;
  }
}

.navbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navbar .container h3 {
    margin-left: 5px;
    font-size: 35px;
}
